body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 12px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#block-body{
    width: 100%;
    height: auto;
    margin: 0 auto; 
}

#block-top{
    width: 100%;
    height: auto;   
    margin: 0 auto;

}

#all {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    background-color: white; 

}
.stamp{
    padding: 50px 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.stamp-name{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    padding: 10px 0 5px;
    margin-bottom: 5px;
}
.stamp-image{
    margin-right: 75px;
}
.stamp-price{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom:  30px;
    border-left: 3px solid #ffc737;
    padding: 0 0 0 10px;
}
.stamp-main-info{
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 20px;
}
.stamp-text-title{
    opacity: 0.6;
    padding-right: 5px;
}
.stamp-descr{

}

#block-foot{
    width: 100%;
    height: auto;
    margin: 0 auto;
    clear:both;



}

#block-header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #efefef;
}
.back-href{
    color: #ffc737;
    display: block;
    margin-top: 30px;
    font-weight: 600;
}
.black-href{
    color: black;
    display: block;
    margin-top: 30px;

}
.buttons{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.alert-text{
    margin: 150px auto;
    width: 560px;
    position: relative;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
}
.alert-text::before{
    width: 15px;
    height: 15px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #ffc737;
    border-left: 2px solid #ffc737;
}
.alert-text::after{
    width: 15px;
    height: 15px;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid #ffc737;
    border-bottom: 2px solid #ffc737;
}
.clear-cart {
    background-color:transparent; 
    margin-top: 200px;
}

#block-left{
    font: bolder 10px Tahoma;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    background: #9068be;
    text-align: center;
    color: white;


}

#block-left select option {
    font: bolder 10px Tahoma;
    width: 100px;
}


#button-sel, #button-login {
    border: 1px solid #ffc737;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px;
    width: 200px;
}

#block-content {
    width: 250px;

    width: 800px;
    height: auto; 
    float: right;
    margin-right: 230px;



} 


#block-footer {
    border-top:1px solid #efefef;
    width: 100%;
    height: 200px;
    margin: 0 auto;
} 

#header-middle-block {
    background-color: #247694;
} 

#header-menu-block {
    background: white;
    width: 1000px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-menu{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.header-menu-list{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;

}
.admin-catalogs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1000px;
    margin: 50px auto 40px;
}
.tabs{
    width: 300px;
    margin-right: 50px;

}
.tabs-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.tabs-item{
    display: block;
    border-bottom: 2px solid #efefef;
    padding: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}
.tabs-item.active{
    border-bottom-color: #ffc737; 
}

.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}
.catalog-list{
    width: 500px;
    border-left: 2px solid #efefef;
    padding: 10px 20px 15px 20px;
}
.catalog-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 7px 10px 8px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
}
.catalog-item:hover{
    color: #247694;
    cursor: pointer;
}

.delete1 a{
    color: black;
    opacity: 0.6;
    text-transform: none;
}
.delete1 a:hover{
    opacity: 1;
}
.create-catalog-item .create-item{
    font-size: 15px;
    padding: 20px 10px 10px;
    border-bottom: 1px solid #247694;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}
.create-catalog-item .create-item:hover{
    color: #277c9d;
}
.create-item:hover ~.create-form{
    display: block;
}
.create-catalog-item .create-item.opened::before{
    position: absolute;
    content: '';
    display: block;
    background-color: white;
    border: 1px solid #277c9d;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    width: 9px;
    height: 10px;
    bottom: -5px;
    right : 30px;
    box-sizing: border-box;
}
.create-form{
    border: 1px solid #247694;
    border-top-style: none;
    border-radius: 0 0 5px 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    box-sizing: border-box;
}
.create-form.visible{
    opacity: 1;
}
.create-form form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-form .new-item{
    border-style: none;
    background-color: transparent;
    opacity: 0.6;
    position: relative;
    cursor: pointer;
    display: block;
    transform: scaleX(2.2);
    margin-left: 15px;
    color: #247694;
}
.create-form .new-item:hover{
    opacity: 1;
}
.list-input{
    width: 300px;
    background: transparent;
    border-style: none;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    padding: 7px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}
.list-input:focus{
    border-bottom-color: black
}
.menu-item input{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}
.header-menu-list .menu-item{
    color: black;
    opacity: 0.6;
}
.header-menu-list .menu-item:hover{
    opacity: 1;
}
.header-menu-list .menu-item:not(:last-child):after{
    display: inline-block;
    content: '|';
    margin: 0 15px;
}

#header-menu-button li{

    font:  12px 'Lucida Sans Unicode';
    padding-left: 70px;
    padding-right: 1px;
    list-style-type: none;





}

#header-menu-button a{
    font:  12px 'Lucida Sans Unicode';
    color: #787878;
    text-decoration: none;





}

#header-menu-button a:hover{
    color: #ffffff;


}




.menu {
    margin-top: 3%;
    margin-left: 2%;
    font:12px Tahoma;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    vertical-align:bottom;
    float: left;
    transition: 0.2s;


}

.menu:hover {

    padding: 4px;
    border:2px solid white;
    border-radius: 2px;
    font:bold 12px Tahoma;
    transition: 0.2s;

}

.das {
    margin-top: 20px;
    border-bottom: 2px dotted #cfcccb;
    width: 100%;
    height: 4px;
}

#naz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    height: 300px;

}
#naz .href{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#naz .logo{
    display: block;
    width: 125px;
    height: 85px;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

#img-logo {
    margin-left: 3%;
    margin-top: 27px;
    width: 80px;

}

#img-log {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(/img/header-logo.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;

}

#block-basket {
    font:bold 11px 'Lucida Sans Unicode';
    color: #ffffff;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 80px;
    background:url('/images/basket.png') no-repeat center center;
    cursor: pointer;

}
.search-form-inputs{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    padding-bottom: 30px;
}
.select-container{
    width: 200px;
    overflow-x: hidden;
    position: relative;
    height: 28px;
}
.input-container{
    height: 28px;
}
.select-container:hover::after{
    position: absolute;
    content: '';
    display: block;
    background-color: white;
    border: 1px solid #277c9d;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    width: 9px;
    height: 10px;
    bottom: 3px;
    right : 30px;
    box-sizing: border-box;
}
.select-container .search-item{
    width: 220px;
}
.select-container option{
    background-color: white;
}
.search-item{
    width: 200px;
    border-style: none;
    background-color: white;
    border-bottom: 1px solid #247694;
    text-transform: uppercase;
    cursor: pointer;
}
.input-item{
    border-style: none;
    border-bottom: 1px solid #e9e9e9;
    background-color: white;
    width: 250px;
    text-transform: uppercase;
    line-height: 25px;
}
.input-item:focus{
    border-bottom-color: black;
}



#block-category {
    width: 250px;
    height: auto;
    outline: none;
    font:12px 'Lucida Sans Unicode';
    color: grey;
    /*    margin-top: 100px;*/


}
.header-title {
    text-align: center;
    width: 240px;
    font:bold 12px 'Lucida Sans Unicode';
    color: #0f0f0f; 
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;


}

li {
    list-style-type: none; 
}

.header-title:hover {
    font:bold 12px 'Lucida Sans Unicode';
    color: white; 
    text-align: center;
}

.header-title:active {
    font:bold 12px 'Lucida Sans Unicode';
    color: white; 
    text-align: center;
}

#block-contenting {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.block-sorting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

#text {
    font-size: 11px;
    opacity: 0.6;
    text-transform: uppercase;
}

#sorting {
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 7px;
    border-bottom: 1px solid #277c9d; 
    position:relative;
}
#sorting.opened::after{
    position: absolute;
    content: '';
    display: block;
    background-color: white;
    border: 1px solid #277c9d;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    width: 9px;
    height: 10px;
    bottom: -5px;
    right : 30px;
    box-sizing: border-box;
}
#sorting-list{
    background-color: white;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
}
#sorting-list a {
    color: black;
    width: 100%;
    display: block;
}
#sorting-list{
    position: absolute;
    top: 28px;
    width: 100%;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    border: 1px solid #247694;
    border-radius: 0 0 5px 5px;
}
#sorting:hover #sorting-list{
    display: block;
}
#sorting-list.visible{
    opacity: 1;
}
#sorting-list li{
    padding: 5px;
    border-bottom: 1px solid transparent;
    text-align: center;
    opacity: 0.6; 
    cursor: pointer;
}
#sorting-list li:hover{
    border-bottom-color: #277c9d;
    opacity: 1;
}





#razrab {
    text-decoration: none;
    color: #0f0f0f;
    font-size: 12px;
    width: 1000px;
    margin: auto;
}
.footer-phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    padding: 20px 0;
    box-sizing: border-box;

}
.footer-phone-text{
    opacity: 0.6;
    padding: 15px 0;
}
.copyright{
    width: 100%;
    border-top: 1px solid #efefef;
    font-size: 12px;
}
.footer-copyright{
    width: 1000px;
    margin: auto;
    opacity: 0.6;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




#block-top-body {
    width: 100%;
    height: auto;
    background-color: white;    
}



#block-body1{
    width: 100%;
    height: auto;

    margin: 0 auto; 
}

#block-login {
    width: 100%;
}

#block-head {
    width: 100%;
    height: 100px;
    background:#94dedb;
    background-size: cover;
}

#block-top-head {
    width: 100%;
    height: 7px;
    background-color: #9da411;
}

#head-logo {
    margin-left: 425px;
}

#block-log {


}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs .input-container:not(:last-child){
    margin-right: 30px;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    width: 534px;
}
.logform {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





#remember-me {
    margin-left: -20px;   

}



.style-prise-grid1 {

    margin-top: -10px;
    margin-right: 400px;
    padding-left: 10px;
    float: right;
    font: 24px 'Lucida Sans Unicode';
}



.skidokbez1{
    margin-top: -20px;
    padding-top: 18px;
    float: right;
    font: 14px 'Lucida Sans Unicode';
    text-decoration: line-through; 
}

#block-buy {
    float: left;
    margin-left: 290px;
    margin-top: -350px;
    font: 12px 'Lucida Sans Unicode';
    color: #0f0f0f;


}


#button-buy {
    width:200px;
    height:50px;
    font: 12px 'Lucida Sans Unicode';
    color: #aa863a;
    background-color: transparent;
    border: 2px solid #aa863a;
    cursor: pointer;

}

#button-buy:hover {
    color:white ;
    background-color: #aa863a;
}



#smth {
    font: 44px 'Lucida Sans Unicode'; 
}







#tovar-info1 {
    font: 12px 'Lucida Sans Unicode';
    color: #0f0f0f;  
    margin-left: 20px;
    width:450px;

}


#block-korzyna {
    width: 100%;
    height: auto;
    /*  border: 1px solid grey;*/
    margin: 0 auto;   

}

#korzyna-header {
    width: 100%;
    height: 163px;   

}

#korzyna-top-head {
    width: 100%;
    height: 7px;
    background-color: #9da411;      
}

#korzyna-mid-head {
    height: 163px;



}

#korzyna-logo {

}


#korzyna-text {
    margin-left: 170px;
    font: bold 10px 'Lucida Sans Unicode';
    color: #0f0f0f; 
    padding-top: 32px;
    line-height: 5px;
}

#korzyna-bot-head {
    width: 100%;
    height: 5px;
    background-color: #9da411;
    margin-top: -45px;
}

#korzyna-content {
    width: 800px;
    margin: 0 auto;
    font: 12px 'Lucida Sans Unicode';
}

#left-content {
    width: 350px; 
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    font: 12px 'Lucida Sans Unicode';
    color: #0f0f0f; 
    line-height: 5px;
    padding: 10px;
}

#left-text {
    font: bold 16px 'Lucida Sans Unicode'; 
    color: #0f0f0f; 
    padding-top: 20px;
}

#right-text {


    font: bold 16px 'Lucida Sans Unicode'; 
    color: #0f0f0f;

}


.inp {
    width: 250px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    opacity: 0.6;

}

.sel {
    width: 200px;
    height: 25px;
    overflow: hidden;
    background-image: url('/images/sel.png');  
}

.sel li {
    overflow: hidden;  
    line-height: 30px; 
}

#button-zakaz {
    width: 160px;
    height: 31px;
    background-color: transparent;
    outline: none;
    border: none;
    font: 12px 'Lucida Sans Unicode';
    color: #aa863a ;  
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #aa863a ; 
}

#button-zakaz:hover {
    background-color:#aa863a;
    font:12px 'Lucida Sans Unicode';
    color: white;   

}



#right-content {
    float: right;
    width: 350px;   
    height: auto;
    margin-top: -670px;
    margin-right: 20px;
    font: 12px 'Lucida Sans Unicode';
    color: #0f0f0f; 
    line-height: 5px;
    padding: 10px;
}



#korzyna-tovar {
    width: 425px;

}

#delete  {
    background-image: url('/images/delete.png');
    background-color: transparent;
    width: 12px;
    height: 14px;
    overflow: hidden;
    border: none;
    /*    font: 11px 'Lucida Sans Unicode';
         color: transparent;*/
}


#delete a {
    width: 14px;
    height: 14px;
    text-align: center;
    text-decoration: none;
    font: 22px 'Lucida Sans Unicode';
    color: transparent;

}

#kor-img{
    margin-left: 20px;
    margin-top: -15px;


}


#opis-tov{
    font: 12px 'Lucida Sans Unicode';
    width:200px;
    line-height: 20px;
    margin-left: 150px;
    margin-top: -130px;   
}

#plus {

    margin-left: -100px;

}

.count-input {
    width: 20px;
    height: 20px;
    font: bold 14px 'Lucida Sans Unicode';
    text-align: center;
    background: transparent;
    border: 2px solid white;

}

.count-plus a {
    text-decoration: none;
    font: bold 14px 'Lucida Sans Unicode';
    color: #0f0f0f;
    line-height: 5px;
}

.count-minus a {
    text-decoration: none;
    font: bold 17px 'Lucida Sans Unicode';
    color: #0f0f0f;
    line-height: 5px;
}

.count-plus a:hover {
    text-decoration: none;
    font: bold 14px 'Lucida Sans Unicode';
    color: #729f98;
    line-height: 5px;
}

.count-minus a:hover {
    text-decoration: none;
    font: bold 17px 'Lucida Sans Unicode';
    color: #729f98;
    line-height: 5px;
}

#cennik {
    margin-left: 150px;
    font: 14px 'Lucida Sans Unicode';
    color: #0f0f0f;
}

.delete-all {
    margin-top: 50px; 
    margin-left: -10px;

}

.delete-all a {


    font:14px 'Lucida Sans Unicode';
    color:  #aa863a;
    padding: 10px;
    text-decoration: none;  
    text-transform: uppercase;
}

.delete-all a:hover {

    font: bold 14px 'Lucida Sans Unicode';
    color:  #aa863a;
    padding: 10px;
    text-decoration: none;    
}





#block-tovar-grid {

    width: 1000px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}


#block-tovar-grid  li, .admin-stamp-item{
    display: inline-flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}



.prewiews-and-counts-grid{
    width: 100%;
}
.style-title-grid{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #efefef;
}
.admin-stamp-title{
    border-bottom: 1px solid #277c9d;
    width: 100%;
    margin-bottom: 0;
    position: relative;
}
.admin-stamp-title #delete1{
    position: absolute;
    right: 8px;
    top: 1px;
}
.admin-stamp-title #delete1 a{
    font-size: 9px;
    font-weight: normal;
}
.admin-stamp-title::after{
    position: absolute;
    content: '';
    display: block;
    background-color: white;
    border: 1px solid #277c9d;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    width: 9px;
    height: 10px;
    bottom: -5px;
    right : 30px;
    box-sizing: border-box;
}
.style-title-grid a{
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}
.style-title-grid:hover{
    border-bottom-color: #277c9d;
}
.style-title-grid:hover::after{
    position: absolute;
    content: '';
    display: block;
    background-color: white;
    border: 1px solid #277c9d;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    width: 9px;
    height: 10px;
    bottom: -5px;
    right : 30px;
    box-sizing: border-box;
}
.style-title-grid:hover .stamp-about{
    visibility: visible;
    opacity: 1;
}
.admin-stamp-title a{
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: 10px;
}
.admin-stamp-title a:hover, 
.style-title-grid a:hover{
    color: #277c9d;
}

.admin-stamp-info{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
.admin-stamp-about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 15px 30px;
    box-sizing: border-box;
}
.admin-stamp-about .stamp-about-info{
    width: 130px;
}
#block-contenting.admin-container{
    margin: 50px auto 40px;
}
.stamp-about{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 15px 30px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    border: 1px solid #247694;
    border-top-style: none;
    top: 36px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear 0.1s, opacity 0.3s linear; 
}
.stamp-about-title{
    opacity: 0.6;
    padding-right: 5px;
}
.stamp-about-info{
    padding-right: 25px;
    border-right: 1px solid #247694;
}
.stamp-about-price{
    font-weight: 600;
    font-size: 15px;
}
.stamp-description{
    padding: 15px 35px 15px 30px;
    border-top: 1px solid #247694;
}
#block-tovar-grid .admin-stamp-item{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #247694;
    border-radius: 5px;
    height: 570px;
    justify-content: flex-start;
}
#new-stamp{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #247694;
    border-radius: 5px;
    height: 570px;
    display: block;
}
.new-stamp-title{
    color: #247694;
    font-size: 15px;
    text-transform: uppercase;
}


.skidok1{
    background-color: white;
    float: left;
    width: 960px;
    font:bold 16px Tahoma;
    color: #e62739;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
} 

#nazva {
    margin-top: -16px;
    width: 960px;
    background-color: white;
    font:bold 11px Tahoma;   
    color: #bfbfbf;
    float: left;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

#opis {
    background-color: white;
    float: left;
    width: 960px;
    font: 14px Tahoma;
    color: #0f0f0f; 

    line-height: 2px;
    padding-bottom:20px;
    padding-left: 20px; 
    padding-right: 20px;

}

#opis p {
    font: 14px Tahoma;
    color: #0f0f0f; 


}


.date {
    font:10px Tahoma; 
    float: right;
    margin-right: 30px;
}

.podstrok {
    float:left; 
    font: 12px Tahoma;
    color:#bfbfbf;
    width: 900px;
}  

.vacancy {
    padding: 5px;
}


.skidok{
    float: left;
    font: 16px 'Lucida Sans Unicode';
    padding-bottom: 20px;
    color: #729f98;
    margin-top: -25px;
    padding-left: 10px;
}

.skidokbez{
    float: left;
    font: 10px 'Lucida Sans Unicode';
    padding-bottom: 20px;
    text-decoration: line-through; 
}




.style-prise-grid {
    float: left;
    font: 12px 'Lucida Sans Unicode';
    padding-bottom: 20px;
}


.add-cart-style-grid{
    margin-top: 30px;
    margin-right:130px;
    float: right;
}


#button-add {
    width: 300px;
    height: 40px;
    font: 12px Tahoma;
    color: white;
    background-color: #e62739;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;


}




#select-sort{

    cursor:pointer;      

}



#sorting li a p{
    margin-top: 8px;
    width: 170px;
    height: 10px;


}

#sorting li ul li a{
    font: 10px Tahoma;
    text-decoration: none;
    line-height: 18px;
    text-align: left;
    margin-left: -35px;
    color:black;
}

#sorting li ul li a:hover{
    color: #9068be;   
    text-decoration: none;
    line-height: 18px;
    text-align: left;
    margin-left: -35px;
}



.category-section
{
    width: 200px;
    height: auto;  
    background-color: transparent;
    padding-top: 5px;


}

.category-section li a{
    font: 12px 'Lucida Sans Unicode';
    color:  #0f0f0f;
    text-decoration: none;  
    line-height: 20px;

}

.category-section li a:hover{
    font: bold 13px 'Lucida Sans Unicode';
    color:  #c44081;
    text-decoration: none;  

}



#v2
{
    /*           margin-left: 100px;*/
}

#demo-wrapper
{

    margin-top: 60px;
    padding: 0;
    width: 980px;
}


#kontakting  {
    height: auto;

}

#texting {
    font: 12px 'Lucida Sans Unicode';
    color: #0f0f0f;


}


#texting1 {
    color: #9da411;
    margin-left: 40px;
    margin-top: -23px;
}



#tabl table tr{
    background-color: #f2f2f2;
}

#tabl table tr td{

    padding: 10px;  
}




#block-content0 {
    width: 800px;
    height: auto; 
    float: right;
    margin-top: 100px;
    margin-right: 40px;

}

#block-header-admin {
    width: 100%;
    height: 120px;
    margin: 0 auto; 
}



#login-admin {
    width: 100%;
    height:30px;
    background: #9068be;
    text-align: center;
}

#login-admin p {  
    font: 12px Tahoma;
    color: white;
    padding-top: 7px;
    margin-left: -200px;

}



#button-out {
    float: right;
    margin-top: -26px;
    margin-right:45%;  
    background-color: transparent;
    outline: none;
    border: none;
    font:12px Tahoma;
    color: #ffffff;   
    cursor: pointer;
}

#button-out:hover {
    border-bottom: 1px solid white;
}


#admin-logo {
    margin-left: 450px;
    margin-top: 20px;

}

#admin-tovar {
    padding-top: 5px;
    width: 980px;
    font: 14px Tahoma;
    padding-left: 20px;
    background: white;
    height: auto;
    margin: 7px auto 0 auto;  

}

#admin-tovar table {
    margin-top: 7px;

}


#search{
    border-style: none;
    border-bottom: 1px solid #e9e9e9;
    background-color: white;
    width: 250px;
}
#search:focus{
    border-bottom-color: black;
}
#button-search{
    border-style: none;
    background-color: white;
    background-image: url('/img/search.png');
    padding: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}






#vkladka {
    height: auto;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 30px;

}

#button-tov {
    background-color: transparent; 
    color: #2a2f1b;
    border: none;
    float: left;
    cursor: pointer;
    font:12px Tahoma;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    vertical-align:bottom;
    float: left;
    transition: 0.2s;


}


#button-zak {
    background-color: transparent; 
    color: #2a2f1b;
    border: none;
    float: left;
    cursor: pointer;
    font:12px Tahoma;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 0px;
    cursor: pointer;
    color: white;
    vertical-align:bottom;
    float: left;
    transition: 0.2s;

}
#button-tov:hover, #button-zak:hover {

    padding: 4px;
    border:2px solid white;
    border-radius: 2px;
    font:bold 12px Tahoma;
    transition: 0.2s;  
}

#admin-zakaz{
    width: 1000px;
    margin: 0 auto;
    background: white;
    margin-top: 7px;
}


#admin-otrasl { 
    font: 14px Tahoma;
    color: black;
    margin: 0 auto;

}

#admin-otrasl  table tr{
    background-color: transparent;


}

#admin-otrasl  table tr td{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline: 2px solid #0f0f0f;
}

#admin-otrasl1 { 
    font: 14px Tahoma;
    color: black;
    margin: 0 auto;

}

#admin-otrasl1  table tr{
    background-color: transparent;


}

#admin-otrasl1  table tr td{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline: 2px solid #0f0f0f;
}

#admin-otrasl2 { 
    font: 14px Tahoma;
    color: black;
    margin: 0 auto;

}

#admin-otrasl2  table tr{
    background-color: transparent;


}

#admin-otrasl2  table tr td{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline: 2px solid #0f0f0f;
}

#tablica {
    font: 14px Tahoma;
    color: black;
    margin: 0 auto;

}

#tablica table tr{
    background-color: transparent;


}

#tablica table tr td{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline: 2px solid #0f0f0f;
}

#delete {
    background-image: url('/images/delete.png');
    background-color: transparent;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
    border: none;
}

#but-edit {
    background-image: url('/images/edit.png');
    background-color: transparent;
    width: 12px;
    height: 12px;
    overflow: hidden;
    border: none;
}



#lol1 {
    /*   margin-top: 50px;*/
    font: bold 12px 'Lucida Sans Unicode';
}


#redaktir {
    margin-top: 20px;
    width: 350px;
    font: 14px 'Lucida Sans Unicode';
    color: #0f0f0f;

}


.forzak {
    width: 271px;
    height: 100px;  
    background-color: #f2f2f2;
    border: 1px solid #dadada;

}

.sel1 {
    width: 231px;
    height: 36px;
    overflow: hidden;
    background-image: url('/images/window.png');  
}

.sel1 li {
    overflow: hidden;  
    line-height: 40px; 
}

#vkorzyne {
    margin-top: -305px;
    margin-left: 400px;
    width: 600px;
    font: 14px 'Lucida Sans Unicode';
    color: #0f0f0f;



}

.naming {
    font: bold 14px 'Lucida Sans Unicode';
    color: #0f0f0f;


}



#buttel {
    background-image: url('/images/delete.png');
    background-color: transparent;
    width: 12px;
    height: 14px;
    overflow: hidden;
    border: none;
    float: left;
    cursor: pointer;

}


.cen {
    margin-left: 100px;
    font: bold 14px 'Lucida Sans Unicode';
    color: #0f0f0f;

}

#butsave {
    margin-top: 40px;
    width:160px;
    height:45px;
    font: bold 14px 'Lucida Sans Unicode';
    color: white;
    background-color: #c44081;
    border: none;

}

#butsave:hover {
    width:170px;
    height:55px;
    font: bold 15px 'Lucida Sans Unicode';
    color: #c44081;
    background-color: transparent;
    border: 2px solid #c44081;

}

#butsave:active {
    width:170px;
    height:55px;
    font: bold 15px 'Lucida Sans Unicode';
    color: white;
    background-color: #890e4b;
    border: 2px solid #c44081;

}

#block-basket p a {
    font: bold 11px 'Lucida Sans Unicode';
    color: white;
    text-decoration: none;
    margin-top: 10px;

}

#divo {
    font: 12px Tahoma;
    width: 400px;
    height: auto;
    background: #9068be;
    border-radius: 3px;
    height: 150px;
    margin-top: 200px;
    margin-left: 550px;

}

#divo p {
    font: bold 12px Tahoma;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

#divo p a {
    font: bold 16px Tahoma;
    color: #6ed3cf;
    border-bottom: 1px solid #6ed3cf;   
}




#block-content1 {
    width: 900px;
    height: auto;
    margin-top: 50px;
} 

#img-png {
    background-image: url('/images/2.png');
    width: 277px;
    height: 262px;
    margin-left: 620px;
    position: absolute;
    margin-top: 55px;

}

#img-png:hover {
    background-image: url('/images/3.png');
    width: 300px;
    height: 334px;
    margin-left: 640px;

}





#akci-img {
    margin-top: 20px; 
    margin-left: 35px; 
    background-image: url('/images/1.png');
    height: 400px;

}

#akci {
    height: auto;

}



#akci-text {
    text-align: center;
    font: bold 16px 'Lucida Sans Unicode';
    color:  #0f0f0f;
}

#polosa {
    margin-left: 95px;
    width: 550px;
    height: 40px;
    background-color: #eeeeee;
    opacity: 0.8;
    margin-top: -70px;

}

#other {
    font: bold 14px 'Lucida Sans Unicode';
    color: #0f0f0f;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
}

#right-content1 {
    float: left;
    margin-left: 500px;
    margin-top: -630px;
    width: 455px;   
    height: auto;
    font: 14px 'Lucida Sans Unicode';
    color: #0f0f0f; 
    line-height: 5px;
    padding: 10px;
}

#block-body1 a {
    color: #9da411;
    font: bold 14px 'Lucida Sans Unicode';
    text-decoration: none;

}

#block-body1 a:hover {
    color: #c44081;
    font: bold 15px 'Lucida Sans Unicode';
    text-decoration: none;

}

#block-body1 a:active {
    color: #9da411;
    font: bold 15px 'Lucida Sans Unicode';
    text-decoration: none;

}

#but-edit a {
    width: 14px;
    height: 14px;
    text-align: center;
    text-decoration: none;
    font: 22px 'Lucida Sans Unicode';
    color: transparent;

}



#but-new {
    margin-left: 200px;
    margin-top: 20px;
    width:160px;
    height:20px;
    background-color:transparent;
    border: 2px solid #aa863a;
    cursor: pointer;

}

#but-new:hover {
    background-color:#aa863a;

}



#but-new a {
    padding-left: 35px;
    font: 12px 'Lucida Sans Unicode';
    text-decoration: none;
    color: #aa863a;
}

#but-new a:hover {
    color: white;   

}


#admin-new {
    font: 14px 'Lucida Sans Unicode';
    color: #0f0f0f;     

}


#button-tovar  {
}


#lefty {
    margin-left: 20px;
    font: 14px Tahoma; 
    color: #0f0f0f; 
    padding-top: 20px;
}

#righty {

    margin-left: 530px;
    margin-top: -1285px;
    font: 14px 'Lucida Sans Unicode'; 
    color: #0f0f0f;

}

#righty1 {

    margin-left: 530px;
    margin-top: -1105px;
    font: 14px 'Lucida Sans Unicode'; 
    color: #0f0f0f;

}

#righty1 select {
    width: 160px;

}

.sele {
    width:300px;
    height: 30px;
    border: 2px solid #e1e8f0;
    border-radius: 3px;
}
#block-tovar{
    width: 1000px;
    margin: 50px auto 40px;
}
.edit-main-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.edit-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
    position: relative;
}
.download-image{
    opacity: 0;
    position: relative;
    width: 175px;
    height: 28px;
    margin-top: 20px;
    cursor: pointer;
}
.edit-image::before{
    position: absolute;
    content: 'Загрузить фото';
    display: block;
    bottom: 0;
    right: 0;
    width: 175px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #ffc737;
    font-size: 11px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.edit-info div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 5px;
    height: 33px;
}
.edit-info{
    width: 400px;
}
.button-save{
    margin: 20px 0 30px;
    display: flex;
    justify-content: flex-end;
}
.button-save input{
    width: 175px;
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #ffc737;
    font-size: 11px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
}
.inp1{
    border: 1px solid #efefef;
    background-color: white;
    padding: 7px 15px;
    border-radius: 3px;
    width: 80%;
    height: 120px;
    margin: auto;
}
.edit-description{
    display: flex;
    margin: 50px auto;
}